*.pyc
*~
.idea/
.vscode/
.DS_Store
*.swp
*.log*
*screenlog*
data
metadata_ijmond_jan_22_2024.json
trans_bvm/models/ucnet_trans3
bbox
sample_names.txt
sample_names_total.txt
collect_sample_names.py
bbox_reduced
bbox_extra
bbox_new
bbox_batch_1
bbox_batch_2
segmentation_dataset_1.json
imgs
