dataset/ijmond_bbox/*.json
dataset/ijmond_bbox/img/*
dataset/ijmond_bbox/img_npy/*
dataset/ijmond_bbox/debug/*
dataset/ijmond_seg/*
dataset/smoke5k/test
dataset/smoke5k/train
dataset/smoke5k/*.json
debug*
